<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <style>
        body{background: skyblue;font-family: Verdana;color: #fff;padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center;}
        label{text-align: left;display: inline-block}
        input{display: block;width: 80%;margin: 20px,10px;}
        input[type=submit]{display: block;width: 40%;margin: 20px,10px;}
    </style>
</head>
<body>
    <!-- Importamos la partial view -->
    <% include partials/nav.ejs %>
    <h1>Contactanos!</h1>
    <p>Thanks for getting in touch</p>
    <p>Contactaste a <%= data.who %> del departamento de <%= data.department %></p>
    <p>We will reply to you at <%= data.email %></p>

</body>
</html>